<html lang="en" ng-app="project">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CMSC 142 Project - Boggle Solver</title>

  <!--CSS-->
  <link href="./css/materialize.min.css" rel="stylesheet">
  <link href="./css/game.css" rel="stylesheet">
  <!--JS-->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/materialize.min.js"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/elements.js"></script>
  <script src="./js/puzzle.js"></script>
  <script src="./js/trie.js"></script>
  <script src="./js/boggle.js"></script>
  <script src="./js/app.js"></script>
  <script>
      $(document).ready(function() {
          $('select').material_select();
          document.getElementById('fileinput').addEventListener('change', readSingleFile, false)
          document.getElementById('fileinput_dict').addEventListener('change', readSingleFile2, false);
      })


  </script>
  <script type="text/javascript">
    function resetScore(){
      score=0;
      $("#enum").html(" ");
      $("#enum2").html(" ");
      $("#scor").html("<br>"+ "Current Score: " + score);
    }


    function newgame(){
      resetScore();
      var tt = document.getElementById('totaltime');
      if(tt)
      {
       totaltime = parseInt(tt.value)*1000;
      }

      if(timeremaining>0)
       clearTimeout(timervar);
      timeremaining = totaltime;
      timervar = setTimeout("tick()", updatefrequency);
    }

    function tick(){
      timeremaining = timeremaining-updatefrequency;
      if(timeremaining<=0)
      {
       timeremaining = 0;
      } else
      {
       timervar = setTimeout('tick()', updatefrequency);
      }

      var t = Math.ceil(timeremaining/1000);
      document.getElementById('timeremaining').innerHTML = "Remaining time: "+t;
      var w = Math.floor(bar_width*timeremaining/totaltime);
      document.getElementById('bar_remaining').width = w;
      document.getElementById('bar_elapsed').width = bar_width-w;
    }

    bar_width = 368;
    totaltime = 10*1000;
    timeremaining = 0;
    updatefrequency = 50;
    timervar = null;

function showSoln(){
  var txt;
var r = confirm("Showing the solution will abort your game. Confirm?");
if (r == true) {
    timeremaining = 0;
    var k = $("#myContainer").val()

    var a = puzzleCollection[k];
    a.words.forEach(appendSoln);
} else {
    txt = "You pressed Cancel!";
}
}

function appendSoln(item,index){
  $("#enum2").append(item+"<br>")
}
  </script>

  <style>

      #wordfield {
          text-transform: uppercase
      }
      #boardContainer {
          text-align: center;

      }
      #boardContainer tr td {
        text-align: center;
      }
      #enum2, #enum {
        height: 300px;
        max-height: 300px;
        overflow-y :scroll;
      }

  </style>

</head>


<body ng-controller="projectController">

  <nav class="page-footer teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo">Boggle Solver</a>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">

          <table width=368 cellpadding=0 cellspacing=0 id="timetable">
          <tr><td id='bar_remaining' width=218 height=25></td><td id='bar_elapsed' width=150 height=25></td>
          </table>
          <div id="timeremaining" style="margin-bottom:10px; margin-top: 10px;">
          Time remaining: ...
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">

        <div class="col s12 center">

          <div class="col s6">
              <div class="row card grey lighten-4 teal-text">
                <table id="boardContainer">
                  <tr ng-repeat="row in data.board track by $index">
                      <td ng-repeat="letter in row track by $index"><b> {{letter}} </b></td>
                  </tr>
                </table>
              </div>
          </div>
          <div class="col s5 offset-s1">

            <div class="row card grey lighten-4" >
                <form ng-submit="checkWord()">
                    <div class="input-field col s12">
                        <input placeholder=" " id="wordfield" type="text" ng-model="data.word">
                        <label for="first_name">Answer:</label>
                    </div>

                </form>
                <div class="col s6">
                  <label for="first_name">Words entered:</label>
                  <br>
                  <div id="enum"></div>
                </div>
                <div class="col s6">
                  <label for="first_name">Solution:</label>
                  <button class="btn" onclick="showSoln()">Show Sol'n </button>
                  <br>
                  <div id="enum2"></div>
                </div>
            </div>
            <span id="scor"></span>
          </div>
        </div>

      </div>

    </div>
    </div>



</body>



<footer class="page-footer teal">
  <div id="wrapper" class="container center-align">
      <div class="row">
          <div class="col s6">
              <div class="row card grey lighten-4 teal-text">
                  <div class="col s12" id="boardContainer">
                      <div class="row" >
                          <div class="col s1" ><b> Instructions: </b><br>

                          </div>
                      </div>
                      1. Upload input file and dictionary file <br>
                      2. Select puzzle tray to be solved <br>
                      3. Enter all the possible words in the tray <br>
                      4. 3 minutes will be allotted for the player <br>
                      5. Words should be have minimum length of 2. <br>
                      6. To show solution, click the Show Sol'n button. This will abort the game. <br>
                      7. Have fun.
                  </div>
              </div>
          </div>

          <div class="col s5 offset-s1">


              <div class="row card grey lighten-4">
                  <br>
                  <div class="col s6">
                    <label>Upload Input Data</label>
                    <div class="file-field input-field">
                      <div class="btn">
                        <span>Upload</span>
                        <input type="file" id="fileinput">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col s6">
                    <label>Upload Dictionary</label>
                    <div class="file-field input-field">
                      <div class="btn">
                        <span>Upload</span>
                        <input type="file" id="fileinput_dict">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                  </div>
                  <h6><b>Choose a Puzzle</b></h6>

                  <div class="input-field col s7">
                      <select id="myContainer" >

                      </select>
                      <select name="totaltimesel" id="totaltime">
                        <option value="30">30 seconds</option>
                        <option value="60">60 seconds</option>
                        <option value="90">90 seconds</option>
                        <option value="120">Two minutes</option>
                        <option value="180" selected="selected">Three minutes</option>
                        <option value="240">Four minutes</option>
                        <option value="300">Five minutes</option>
                      </select>
                      <label>Select puzzle/time</label>

                  </div>
                  <div class="input-field col s4">
                      <a ng-click="buildPuzzle()" class="waves-effect waves-light btn" onclick="newgame()">Choose</a>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3">Alo, Caraan, Doron</a>
    </div>
  </div>
</footer>
</html>
